<h1>Welcome to CSE Motors!</h1>

<div id="home-img">
    <div id="article">
         <article>
            <h2 class="article">DMC Delorean</h2>
            <p class="article">3 Cup holders</p>
            <p class="article">Superman doors</p>
            <p class="article">Fuzzy dice!</p>
        </article>
        <img id="own-today" src="/images/site/own_today.png" alt="">
    </div>
</div>

<div id="information">
    <h2 id="upgrades">Dolorean Upgrades</h2>
    <img class="capacitor" src="/images/upgrades/flux-cap.png" alt="Capaitor">
    <a class="capacitor" href="">Flux Capacitor</a>
    <img class="flame" src="/images/upgrades/flame.jpg" alt="Flame">
    <a class="flame" href="">Flame Decals</a>
    <img class="bumper" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper">
    <a class="bumper" href="">Bumper stickers</a>
    <img class="hub" src="/images/upgrades/hub-cap.jpg" alt="Hub-cap">
    <a  class="hub" href="">Hub Cpas</a>
    
    <h2 id="review">DMC Dolorean Review</h2>
    <ul class="reviews">
        <li>"So fast it's almost like traveling in time."(4/5)</li>
        <li>"Coolest ride on the road"(4/5)</li>
        <li>"I'm feeling McFly"(5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's livin and I love it!"(5/5)</li>
    </ul>
    
</div>